<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzptc.liuxiaolong.news">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/news_128px"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MyService" />

        <activity
            android:name=".activity.Activity_Setting"
            android:theme="@style/ortherActivityStyle" />
        <activity
            android:name=".activity.Activity_NewsDetail"
            android:theme="@style/ortherActivityStyle"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.Activity_SearchNews"
            android:theme="@style/ortherActivityStyle" />
        <activity
            android:name=".activity.Activity_Login"
            android:theme="@style/ortherActivityStyle" />
        <activity
            android:name=".activity.Activity_Feedback"
            android:theme="@style/ortherActivityStyle" />
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".activity.Activity_NewsComment" />
    </application>

</manifest>